.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    height: 80px;
}

.trademark {
    font-size: 12px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
}

.trademark a{
    text-decoration: none;
    color: goldenrod;
    transition: 0.5s;
}

.trademark a:hover{
    color: rgb(164, 124, 23);
}

.logoContainer {
    width: 20px;
    padding-top: 10px;
}

.socialLinks {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.socialLinksSection {
    display: flex;
   
}

.socialLinksNodes {
    position: relative;
    padding: 1.3vw;
    
}

.socialLinksNodes img{
    width: 30px;
    border-radius: 50%;
}

@media only screen and (min-width: 768px) {
    .footer {
        height: 100px;
    }

    .trademark {
        font-size: 18px;
    }

    .logoContainer {
        display: block;
        width: 40px;
    }

    .socialLinks {
        width: 10%;
    }

    .socialLinksNodes {
        transform: scale(2);
        
    }
}

@media only screen and (min-width: 1024px) {
    .footer {
        height: 200px;
        padding: 0 50px;
    }
}
