.footer {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    padding-top:20px;
    height: 80px;
}

.trademark {
    font-size: 12px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
}

.trademark a{
    text-decoration: none;
    color: goldenrod;
    transition: 0.5s;
}

.trademark a:hover{
    color: rgb(164, 124, 23);
}

.logoContainer {
    width: 20px;
    padding-top: 10px;
}

.socialLinks {
    /* display: block; */
    justify-content: space-between;
    width: 30%;
}

.socialLinksSection {
    display: inline-flex;
    margin:0 auto;
   
}

.socialLinksNodes {
    position: relative;
    padding: 1.3vw;
    
}

.socialLinksNodes img{
    width: 30px;
    border-radius: 50%;
}

@media only screen and (min-width: 768px) {
    .footer {
        height: auto;
    }

    .trademark {
        font-size: 18px;
    }

    .logoContainer {
        display: block;
        width: 40px;
    }

    .socialLinks {
        width: 10%;
    }

    .socialLinksNodes {
        transform: scale(2);
        
    }
}

@media only screen and (min-width: 1024px) {
    .footer {
        height: auto;
        /* padding: 0 50px; */
    }
}
.footerlinks{
color: #fff;
list-style: none;
padding-left: 0;
text-align: center;

}

.footertitle{
    text-align: center;
    color:#ffc107
}
.footerlinks li{
    padding: 8px;
}

.abtcont{
    text-align: justify;
}
.footerlinks li a:hover
.footerlinks li a:focus{
    text-decoration: underline;
    color:#ffc107 !important;
    cursor: pointer;
}

