.header {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 20px;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
}

.navLink {
    padding: 10px 10px;
    cursor: pointer;
    font-weight: bold;
    font-size:10px
}

.navLink:hover {
    transition: background-color .6s;
    color: black;
    background-color: rgb(201, 160, 48);
}

@media only screen and (min-width: 768px) {
    .nav {
        justify-content: left;
    }

    .navLink {
        padding: 10px 50px;
        font-size:18px
    }
}

@media only screen and (min-width: 1024px) {
    .nav {
        margin: 20px 0 0 50px;
    }

    .navLink {
        padding: 10px 90px;
    }
}