.header {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 20px;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
}

.navLink {
    padding: 10px 10px;
    cursor: pointer;
    font-weight: bold;
    font-size:10px;
    color:#fff;
    text-align:center;
}
.navLink button{
    padding: 10px 10px;
    cursor: pointer;
    font-weight: bold;
    font-size:10px;
    color:#fff;
    text-align:center;
}
.imglogo{
    display: block !important;
}
.navLink:hover {
    transition: background-color .6s;
    color: black;
    background-color: rgb(201, 160, 48);
}

@media only screen and (min-width: 768px) {
    .nav {
        justify-content: left;
    }

    .navLink {
        padding: 10px 30px;
        font-size:18px
    }
}

@media only screen and (min-width: 1024px) {
    .nav {
        margin: 20px 0 0 50px;
    }

    .navLink {
        padding: 10px 30px;
    }
}
.butcon{
    background-color: #ffce00;
    font-weight:bold;
    border-radius: 20px 0px 20px 0px;
}
.butcon p{
    font-size:17px;
    color: #000;
    font-weight:700;
    margin-bottom: 1px;
}
.navbrand{
    margin-left: 100px;
}
.collapse .show{
    background-color: #fff; /* Set your desired background color */
  }
  .navbar-toggler{
    background:blue;
  }

  .navbar-toggler {
    background-color: blue; /* Set your desired background color */
  }
  
  .navbar-toggler-icon {
    background-color: yellow; /* Set your desired background color */
  }
  
  .expandedNavbar {
    background: #000;
    width:200px;
  }

  .navbarnd{
    margin: 0px 0px 0px 100px;
  }
  
