.hero {
    height: 100vh;
    position: relative;
    width: 100%;
}

.heroHeader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 2;
    width: 100%;
    text-align: center;
    letter-spacing: .1em;
    font-family: "Inter", sans-serif;
}

.heroLogo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(40%);
}

@media screen and (min-width: 768px) {
    .heroHeader {
        font-size: 110px;
    }
}