
.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
}

.backgroundVideo {
    position: absolute;
    z-index: 1;
    right: 0;
    
    top:-10;
    min-width: 100%;
    min-height: 110%;
    overflow-y: hidden;

    
}

.backgroundImage{
  background: url("../public/backgroundImage.png");
  background-repeat: no-repeat;
  background-size: 100% 87%;
  
z-index: 0;
min-width: 100%;
    min-height: 110%;
    animation: hideAnimation 0s  5s;
  animation-fill-mode: forwards;
  
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    min-width: 0;
    min-height: 0;
  }
}


.backgroundVideoTint{
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background: linear-gradient( rgba(0, 0, 0, 0.3) 90%, rgba(0, 0, 0, 0.5) );
  top: 0;
  left: 0;
}

.heroContent {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 12;
}

.headingContainer {
    display: flex;
    align-items: center;
}

.heading {
    font-size: 40px;
    margin: 0;
}

.logoContainer {
    width: 20px;
    margin-left: 10px;
    margin-bottom: 30px;
    transition: all 3s;
}
.logoContainer:hover{
    transform: rotate(360deg);
}

.subHeading {
    margin: 0;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
    .heading {
        font-size: 98px;
    }
    .logoContainer{
        width: 40px;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 1024px) {
    .heading {
        font-size: 98px;
    }
}

/* ****************************  Imported  ********************************************** */

.mouse_scroll {
	display: block;
  position: absolute;
	top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 11;
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 100%;
  justify-content: center;
  display:block;
  height:20vh;

}




.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  justify-content: center;
  display: flex;
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
  margin-left: 49%;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: rgb(201, 160, 48);
  position: relative;
  margin-left: 40%;
  height: 4px;
  width: 4px;
  border: 2px solid var(--secondary-color);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
