.categoriesSection {
    padding: 2% 15%;
}

.header {
    height: 30vh;
    background-color: rgb(53, 53, 53);
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-size: 7vw;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.categoriesWrapper {
    display: grid;
}

.categoryWrapper {
    position: relative;
    margin-bottom: 30px;
}

.categoryWrapper:hover > .categoryImageWrapper {
    transition: all .8s;
    filter: grayscale(0%);
}

.categoryImageWrapper {
    position: relative;
    width: 100%;
    height: 40vh;
    filter: grayscale(80%);
}

.categoryImage {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.categoryTitle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    width: 100%;
    text-align: center;
    font-size: 4vw;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.catalogueWrapper {
    display: flex;
    flex-direction: column;
    margin: 10% 2%;
}

.catalogueWrapper:hover > .catalogueDescriptionWrapper {
    transition: all .8s;
    background-color: rgb(201, 160, 48);
}

.catalogueWrapper:hover > .catalogueDescriptionWrapper > .catalogueDescriptionHeader {
    transition: all .8s;
    color: black;
}

.catalogueImageWrapper {
    position: relative;
    min-height: 30vh;
}

.catalogueDescriptionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
}

.catalogueDescriptionHeader {
    text-align: center;
    color: rgb(201, 160, 48);
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.catalogueDescriptionText {
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.quoteWrapper {
    min-height: 30vh;
    background-image: url('/images/Background.webp');
    background-size: 150% 150%;
    animation-name: background-shift-about-us;
    animation-duration: 20s;
    animation-iteration-count: infinite;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 10%;
}

.catalogueLink {
    text-decoration: none;
}

@keyframes background-shift-about-us {
    0% {
        background-position-x: 0;
    }
    50% {
        background-position-x: 100%;
    }

    100% {
        background-position-x: 0;
    }
}

.quote {
    color: rgb(201, 160, 48);
    font-size: 30px;
}


@media screen and (min-width: 768px) {
    .categoriesWrapper {
        
      grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }

    .categoryWrapper:last-child {
        grid-column: 1 / 3;
    }

    .catalogueWrapper {
        margin: 5% 50px;
        
    }
}

@media screen and (min-width: 1024px) {
    .categoriesWrapper {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }

    .catalogueWrapper {
        flex-direction: row;
    }

    .catalogueLink:nth-child(even) > .catalogueWrapper {
        flex-direction: row-reverse;
    }

    .catalogueImageWrapper {
        width: 55%;
        min-height: 35vh;
    }

    .catalogueDescriptionWrapper {
        width: 45%;
        padding: 0 30px;
        
    }

    .catalogueDescriptionText {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        font-size: 8vw;
    }

    .categoryTitle {
        font-size: 8vw;
    }

}